docs/influxdb/history_of_temperature.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Temperatuur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d83bcc41d07be42",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "v3/workshop-vti-sensors@ttn/devices/eui-70b3d57ed004b1fd/up",
        "qos": "2",
        "datatype": "json",
        "broker": "72b7650225d6d480",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "a15dc1f66cd2fd72",
                "47518082ec776cea"
            ]
        ]
    },
    {
        "id": "a15dc1f66cd2fd72",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "47518082ec776cea",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Filter temperatuur",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "a1bc8588ec717c95",
                "181572502f149f36",
                "a2a361e17937fbb5",
                "99dee5f01aee644b"
            ]
        ]
    },
    {
        "id": "a1bc8588ec717c95",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "181572502f149f36",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatuur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "+40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2a361e17937fbb5",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatuur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "99dee5f01aee644b",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f71c87430aa97039",
        "name": "",
        "measurement": "temperatuur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "vives",
        "bucket": "iot",
        "x": 900,
        "y": 520,
        "wires": []
    },
    {
        "id": "40ee0b788703a302",
        "type": "influxdb in",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f71c87430aa97039",
        "name": "",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1d, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperatuur\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "vives",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "5913acc87bcf86a1",
                "c99209fa85919c71",
                "d56ec03612e64c9d"
            ]
        ]
    },
    {
        "id": "dae44fc28512a47d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "40ee0b788703a302"
            ]
        ]
    },
    {
        "id": "5913acc87bcf86a1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 940,
        "wires": []
    },
    {
        "id": "ad0c170373257ebe",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatuur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c99209fa85919c71",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "let data_punten = msg.payload.map(m => {\n   return {\n       x: m._time,\n       y: m._value\n   } \n});\n\nmsg.payload = [{\n  series: [\"Temperatuur\"],\n  data: [ data_punten ],\n  labels: [\"\"],\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            [
                "96ca4815719fe70d",
                "ad0c170373257ebe"
            ]
        ]
    },
    {
        "id": "96ca4815719fe70d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "d56ec03612e64c9d",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "e296dd29af40dac0"
            ]
        ]
    },
    {
        "id": "62d254cededda51a",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1100,
        "y": 820,
        "wires": [
            [
                "d186654c376ce6d5"
            ]
        ]
    },
    {
        "id": "e296dd29af40dac0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "XY object",
        "func": "msg.payload = {\n   x: msg.payload._time,\n   y: msg.payload._value\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 800,
        "wires": [
            [
                "62d254cededda51a"
            ]
        ]
    },
    {
        "id": "9ed11409fcb4d4ea",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 800,
        "wires": []
    },
    {
        "id": "d186654c376ce6d5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Chart Series",
        "func": "msg.payload = [{\n  series: [\"Temperatuur\"],\n  data: [ msg.payload ],\n  labels: [\"\"],\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 920,
        "wires": [
            [
                "9ed11409fcb4d4ea",
                "692d9015f42e1d61"
            ]
        ]
    },
    {
        "id": "692d9015f42e1d61",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatuur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "72b7650225d6d480",
        "type": "mqtt-broker",
        "name": "ThingsNetwork",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3fe1e52493d5c6d6",
        "type": "ui_group",
        "name": "Temperatuur",
        "tab": "63c767d18524b0df",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f71c87430aa97039",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Local InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.17.0.2:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "63c767d18524b0df",
        "type": "ui_tab",
        "name": "Sensor Applicatie",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]