docs/influxdb/history_of_temperature.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Temperatuur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d83bcc41d07be42",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "v3/workshop-vti-sensors@ttn/devices/eui-70b3d57ed004b1fd/up",
        "qos": "2",
        "datatype": "json",
        "broker": "72b7650225d6d480",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "47518082ec776cea"
            ]
        ]
    },
    {
        "id": "47518082ec776cea",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Filter temperatuur",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 280,
        "wires": [
            [
                "181572502f149f36",
                "2287d49aa4ad2cdf",
                "a1bc8588ec717c95"
            ]
        ]
    },
    {
        "id": "181572502f149f36",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatuur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "+40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "a2a361e17937fbb5",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatuur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2287d49aa4ad2cdf",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "678ac4bb98d80f0e",
        "name": "temperatuur",
        "measurement": "temperatuur",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "workshop",
        "bucket": "iot",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "157548da8b94609c",
        "type": "complete",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "scope": [
            "2287d49aa4ad2cdf"
        ],
        "uncaught": false,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "d9694388fcdf2dbf"
            ]
        ]
    },
    {
        "id": "d9694388fcdf2dbf",
        "type": "influxdb in",
        "z": "f6f2187d.f17ca8",
        "influxdb": "678ac4bb98d80f0e",
        "name": "temperatuur",
        "query": "from(bucket: \"iot\")\n  |> range(start: -1d, stop: now())\n  |> filter(fn: (r) => r[\"_measurement\"] == \"temperatuur\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n  |> aggregateWindow(every: 1m, fn: mean, createEmpty: false)\n  |> yield(name: \"mean\")",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "workshop",
        "x": 310,
        "y": 440,
        "wires": [
            [
                "c95f9e5d99f01e6d"
            ]
        ]
    },
    {
        "id": "c95f9e5d99f01e6d",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "41d4fb05167f8289"
            ]
        ]
    },
    {
        "id": "41d4fb05167f8289",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "XY Object",
        "func": "msg.payload = {\n   x: msg.payload._time,\n   y: msg.payload._value\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "06f406dc91d7392b"
            ]
        ]
    },
    {
        "id": "06f406dc91d7392b",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "56d7bd560bac42e6"
            ]
        ]
    },
    {
        "id": "56d7bd560bac42e6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Chart Object",
        "func": "msg.payload = [{\n  series: [\"Temperatuur\"],\n  data: [ msg.payload ]\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 440,
        "wires": [
            [
                "a2a361e17937fbb5"
            ]
        ]
    },
    {
        "id": "a1bc8588ec717c95",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "72b7650225d6d480",
        "type": "mqtt-broker",
        "name": "ThingsNetwork",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3fe1e52493d5c6d6",
        "type": "ui_group",
        "name": "Temperatuur",
        "tab": "63c767d18524b0df",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "678ac4bb98d80f0e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB2",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://myinflux:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "63c767d18524b0df",
        "type": "ui_tab",
        "name": "Sensor Applicatie",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]