docs/node-red-dashboard/dashboard-flow-temperature.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Temperatuur",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d83bcc41d07be42",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "v3/workshop-vti-sensors@ttn/devices/eui-70b3d57ed004b1fd/up",
        "qos": "2",
        "datatype": "json",
        "broker": "72b7650225d6d480",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "a15dc1f66cd2fd72",
                "47518082ec776cea"
            ]
        ]
    },
    {
        "id": "a15dc1f66cd2fd72",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "47518082ec776cea",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Filter temperatuur",
        "func": "msg.payload = msg.payload.uplink_message.decoded_payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "a1bc8588ec717c95",
                "181572502f149f36",
                "a2a361e17937fbb5"
            ]
        ]
    },
    {
        "id": "a1bc8588ec717c95",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "181572502f149f36",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatuur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "+40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2a361e17937fbb5",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "3fe1e52493d5c6d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperatuur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "72b7650225d6d480",
        "type": "mqtt-broker",
        "name": "ThingsNetwork",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",[
          {
              "id": "f6f2187d.f17ca8",
              "type": "tab",
              "label": "Temperatuur",
              "disabled": false,
              "info": ""
          },
          {
              "id": "6d83bcc41d07be42",
              "type": "mqtt in",
              "z": "f6f2187d.f17ca8",
              "name": "",
              "topic": "v3/workshop-vti-sensors@ttn/devices/eui-70b3d57ed004b1fd/up",
              "qos": "2",
              "datatype": "json",
              "broker": "72b7650225d6d480",
              "nl": false,
              "rap": true,
              "rh": 0,
              "inputs": 0,
              "x": 270,
              "y": 100,
              "wires": [
                  [
                      "a15dc1f66cd2fd72",
                      "47518082ec776cea"
                  ]
              ]
          },
          {
              "id": "a15dc1f66cd2fd72",
              "type": "debug",
              "z": "f6f2187d.f17ca8",
              "name": "",
              "active": true,
              "tosidebar": true,
              "console": false,
              "tostatus": false,
              "complete": "false",
              "statusVal": "",
              "statusType": "auto",
              "x": 730,
              "y": 100,
              "wires": []
          },
          {
              "id": "47518082ec776cea",
              "type": "function",
              "z": "f6f2187d.f17ca8",
              "name": "Filter temperatuur",
              "func": "msg.payload = msg.payload.uplink_message.decoded_payload.temperature;\nreturn msg;",
              "outputs": 1,
              "noerr": 0,
              "initialize": "",
              "finalize": "",
              "libs": [],
              "x": 650,
              "y": 200,
              "wires": [
                  [
                      "a1bc8588ec717c95",
                      "181572502f149f36",
                      "a2a361e17937fbb5"
                  ]
              ]
          },
          {
              "id": "a1bc8588ec717c95",
              "type": "debug",
              "z": "f6f2187d.f17ca8",
              "name": "",
              "active": true,
              "tosidebar": true,
              "console": false,
              "tostatus": false,
              "complete": "false",
              "statusVal": "",
              "statusType": "auto",
              "x": 870,
              "y": 260,
              "wires": []
          },
          {
              "id": "181572502f149f36",
              "type": "ui_gauge",
              "z": "f6f2187d.f17ca8",
              "name": "",
              "group": "3fe1e52493d5c6d6",
              "order": 1,
              "width": 0,
              "height": 0,
              "gtype": "gage",
              "title": "Temperatuur",
              "label": "°C",
              "format": "{{value}}",
              "min": "-10",
              "max": "+40",
              "colors": [
                  "#00b500",
                  "#e6e600",
                  "#ca3838"
              ],
              "seg1": "",
              "seg2": "",
              "className": "",
              "x": 880,
              "y": 360,
              "wires": []
          },
          {
              "id": "a2a361e17937fbb5",
              "type": "ui_chart",
              "z": "f6f2187d.f17ca8",
              "name": "",
              "group": "3fe1e52493d5c6d6",
              "order": 2,
              "width": 0,
              "height": 0,
              "label": "Temperatuur",
              "chartType": "line",
              "legend": "false",
              "xformat": "HH:mm:ss",
              "interpolate": "linear",
              "nodata": "",
              "dot": false,
              "ymin": "",
              "ymax": "",
              "removeOlder": 1,
              "removeOlderPoints": "",
              "removeOlderUnit": "3600",
              "cutout": 0,
              "useOneColor": false,
              "useUTC": false,
              "colors": [
                  "#1f77b4",
                  "#aec7e8",
                  "#ff7f0e",
                  "#2ca02c",
                  "#98df8a",
                  "#d62728",
                  "#ff9896",
                  "#9467bd",
                  "#c5b0d5"
              ],
              "outputs": 1,
              "useDifferentColor": false,
              "className": "",
              "x": 890,
              "y": 440,
              "wires": [
                  []
              ]
          },
          {
              "id": "72b7650225d6d480",
              "type": "mqtt-broker",
              "name": "ThingsNetwork",
              "broker": "eu1.cloud.thethings.network",
              "port": "1883",
              "clientid": "",
              "autoConnect": true,
              "usetls": false,
              "protocolVersion": "4",
              "keepalive": "60",
              "cleansession": true,
              "birthTopic": "",
              "birthQos": "0",
              "birthPayload": "",
              "birthMsg": {},
              "closeTopic": "",
              "closeQos": "0",
              "closePayload": "",
              "closeMsg": {},
              "willTopic": "",
              "willQos": "0",
              "willPayload": "",
              "willMsg": {},
              "sessionExpiry": ""
          },
          {
              "id": "3fe1e52493d5c6d6",
              "type": "ui_group",
              "name": "Temperatuur",
              "tab": "63c767d18524b0df",
              "order": 3,
              "disp": true,
              "width": "12",
              "collapse": false,
              "className": ""
          },
          {
              "id": "63c767d18524b0df",
              "type": "ui_tab",
              "name": "Sensor Applicatie",
              "icon": "dashboard",
              "order": 1,
              "disabled": false,
              "hidden": false
          }
      ]
        "sessionExpiry": ""
    },
    {
        "id": "3fe1e52493d5c6d6",
        "type": "ui_group",
        "name": "Temperatuur",
        "tab": "63c767d18524b0df",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63c767d18524b0df",
        "type": "ui_tab",
        "name": "Sensor Applicatie",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]